<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        <center>
        {% block content %}{% endblock %}
        </center>
    </div>
    <div id="footer">
        {% block footer %}
        <hr>
        &copy; Copyright 2013 by flarehunter.</a>.
        {% endblock %}
    </div>
</body>
</html>
