{% extends "base.html" %}
{% block body %}
    <div class="vertical-center">
        <h1>Comic Viewer</h1>
        <center>
            <form class="pure-form pure-form-stacked" method="GET" action="/result/">
                <input class="pure-u-3-4" id="query" name="query" type="text" value="" placeholder="Enter URL Here" >
                <input type="submit" class="pure-button " value="Submit">
            </form>
        </center>
    </div>

    <div class="banner fixed-foot" id="footer">
        &copy; Copyright 2014 by flarehunter. Powered by <a href="http://flask.pocoo.org/">Flask</a>.<br>
        Source code in <a href="https://github.com/akahuang/comic-viewer">Github</a>.
    </div>
{% endblock %}
